*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: auto;
    
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        height: 100vh;

        .col{
            flex: 0 0 40%;
            margin: auto;
            padding: 20px;

            .calculator{
                display: flex;
                flex-direction: column;

                label{
                    margin-bottom: 5px;
                }
                
                input{
                    height: 30px;
                }
            }
        }
    }
}